*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
/.gradle_home
/.idea
/app
/app
/app/src/main
/gradle
/gradle
gradlew.bat
/server
SETUP.html
server_test3_err.log
server_test3.log
*.kt
session.txt
relatorio-tecnico.html
rest_of_truncated.txt
truncated_parts.txt
relatorio_texto.txt
